html
    head
        style
        script(src='a.js')
        link(href="12",ref='stylesheet')
    body
        div
            ul
                li
                    input(type="text",id="text1",value="23")
                li
                li
                li
        div
