html
    head
        style
        script(src='a.js')
        link(href="12",ref='stylesheet')
        script alert('abc')
    body
        div
            ul
                li
                    input(type="text",id="text1",value="23")
                li
                    a(href="https://www.baidu.com") baidu
                    a(href="https://www.baidu.com") hehe
                li
                li
        div
