html
    head
        script.
            window.onload=function(){
                var oBtn = document.getElementById('test');
                oBtn.onclick=function () {
                    alert('abc')
                }
            }
    body
        div